# General
.env
*.log


/backend/node_modules/
backend/node_modules/
/backend/dist/
/backend/build/
/backend/.env.local
/backend/.env.*.local
/backend/.env

# Flutter
/frontend/product_app/.dart_tool/
/frontend/product_app/.idea/
/frontend/product_app/.packages
/frontend/product_app/.flutter-plugins
/frontend/product_app/.flutter-plugins-dependencies
/frontend/product_app/.metadata
/frontend/product_app/build/
/frontend/product_app/linux/
/frontend/product_app/macos/
/frontend/product_app/web/
/frontend/product_app/windows/
/frontend/product_app/.DS_Store
/frontend/product_app/pubspec.lock


# Editor and IDE files
.idea/
.vscode/
*.iml
*.swp
*.swo

# Miscellaneous
*.pid
*.seed
*.pid.lock
coverage/